<%- include('header'); -%>

<h1>this is about page hello</h1>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis blanditiis nesciunt omnis vel placeat rerum? Accusamus molestias et harum totam at optio, sequi consequatur repudiandae, temporibus iste itaque hic atque!</p>


<%- include('footer'); -%>